# Pandas


- NumPy = list -> Pandas = dictionary
- Specialized for tabular data (2D arrays)
  - Allows you to give rows and columns names
- Build on top of NumPy -> Fast

By convention, `pandas` is commonly imported as `pd` to make it easier to reference the library's functions and methods.

```python
import pandas as pd
```


## 1. Creating a DataFrame

DataFrames represent tabular data and are the primary data structure in Pandas

```python
import pandas as pd

data = {'Name': ['John', 'Emma', 'Peter'],
        'Age': [25, 28, 32],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data)
print(df)
```

Output:
```
   Name  Age      City
0  John   25  New York
1  Emma   28    London
2 Peter   32     Paris
```

In [ ]:
import pandas as pd

data = {'Name': ['John', 'Emma', 'Peter'],
        'Age': [25, 28, 32],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data)
print(df)

    Name  Age      City
0   John   25  New York
1   Emma   28    London
2  Peter   32     Paris


## 2. Accessing Data (The Numpy Way)
Using `.iloc` you can access DataFrames the same way you would access NumPy arrays:

**Accessing Rows:** `df.iloc[0]` give you the first row.

**Accessing Columns:** `df.iloc[:, 0]` give you the first column.

**Accessing Slices:** `df.iloc[:2, :1]` give you the first two rows of the first column.

**Task 2:** Given the DataFrame from "1. Creating a DataFrame", print its last two rows.


## 3. Index
Consider the Output of the first example:

```
   Name  Age      City
0  John   25  New York
1  Emma   28    London
2 Peter   32     Paris
```

In the first column, the index `0 1 2` of the DataFrame is shown.

The index `0 1 2...` is the default which will be used if no index is specified.

We could set a custom identifier as index by specifying it during creation:

```python
import pandas as pd

data = {'Name': ['John', 'Emma', 'Peter'],
        'Age': [25, 28, 32],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data, index=['001', '002', '003'])
print(df)
```
Output:
```
      Name  Age      City
001   John   25  New York
002   Emma   28    London
003  Peter   32     Paris
```


## 4. Accessing Data (The Pandas Way)
The default way to access data is to use `.loc` instead of `.iloc`. `.loc` allows you to access columns using their names and rows using the index values.

**Accessing Rows:** `df.loc['001']` give you the first row.

**Accessing Columns:** `df.loc[:, 'Name']`, `df['Name']` or `df.Name` give you the 'Name' column.

**Accessing Slices:** `df.loc[['001', '002'], ['Name']]` or `df.loc[['001', '002'], 'Name']` give you the first two rows of the first column.

**Task 4:** Given the DataFrame from "3. Index", print its last two rows using `.loc`.


## 5. Modifying Data
**Filtering Data:**  `df = df.loc[df['Age'] > 25]` or `df = df[df['Age'] > 25]` will drop all rows where the age is not greater than 25.

**Sorting Data:** `df = df.sort_values('Age')` or `df.sort_values('Age', inplace=True)` will sort the DataFrame based on the 'Age' column in ascending order.

**Adding Columns:** `df['Country'] = ['USA', 'England', 'France']` will add a country-column

**Task 5.1:** Add a column "Legal_Age" to the DataFrame from "3. Index". Hint: In the USA, the legal age is 21. (Explain the task better!)

**Task 5.2:** Calculate the years since legal age and add it as a column.

**Task 5.3:** Sort the DataFrame based on the names in descending order (from Z to A).

## 6. Data Input and Output
Pandas supports reading and writing standard files like .csv, .json and .xlsx (Excel) but also performance optimized file formats like .ftr and .parquet.


### 6.1 Additional Package Installation
If you want to use any file format other than .csv or .json you would need to install a respective package first:
- .xlsx: `pip install openpyxl`
- .feather or .parquet: `pip install pyarrow`

**Task 6.1:** Install a package which enables pandas to read and write excel files.

### 6.2 Read and Write
For .csv files we can

- read using `df = pd.read_csv('example_table.csv')`

and

- write using `df.to_csv('example_table.csv')`

For other file formats you just replace `_csv` with the respective format (e.g. `to_json`, `to_excel`...).

**Task 6.2.1:** Read the California Housing dataset (per default saved in `sample_data/california_housing_test.csv` in Colab) and write it to `sample_data/california_housing_test_resaved.csv`.


#### The Index Problem
When only running `df = pd.read_csv('example_table.csv')` and `df.to_csv('example_table.csv')` an additional first column would be added to the file. This column is the default index (see 2.3 Index) which is added when calling `read_csv` without specifying an index column.

There are two ways to fix this problem:

- An index alike column exist in csv (e.g. 'id'): `df = pd.read_csv('example_table.csv', index_col='good_index_column')`
- Otherwise: `df.to_csv('example_table.csv', index=False)`

**Task 6.2.2:** Write a function `are_equal` which checks if two DataFrames have the same number of columns. Read `sample_data/california_housing_test.csv` as `df1` and write it. Read the just written .csv as `df2` and use the `are_equal` function to compare `df1` and `df2`.

## 7. Aggregation

You can easily apply aggregation operations such as minimum, maximum or mean

```python
import pandas as pd

data = {'Name': ['John', 'Emma', 'Peter'],
        'Age': [25, 28, 32],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data, index=['001', '002', '003'])
print(df.Age.min())     # 25
print(df.Age.max())     # 32
print(df.Age.median())  # 28.0
print(df.Age.mean())    # 28.333333333333332
print(df.Age.std())     # 3.5118845842842465
```


## 8. Grouping
To separate a DataFrame into smaller groups based on a column `.groupby` is used:

```python
import pandas as pd

data = {'Name': ['John', 'Emma', 'Peter', 'Jack', 'Louise', 'Amy'],
        'Age': [25, 28, 32, 23, 30, 27],
        'City': ['New York', 'London', 'Paris', 'Dallas', 'Lyon', 'Chicago'],
        'Country': ['USA', 'England', 'France', 'USA', 'France', 'USA']}

df = pd.DataFrame(data)

for group, group_df in df.groupby('Country'):
  print(group)
  print(group_df)
```
Output:
```
England
   Name  Age    City  Country
1  Emma   28  London  England
France
     Name  Age   City Country
2   Peter   32  Paris  France
4  Louise   30   Lyon  France
USA
   Name  Age      City Country
0  John   25  New York     USA
3  Jack   23    Dallas     USA
5   Amy   27   Chicago     USA
```

In [ ]:
import pandas as pd

data = {'Name': ['John', 'Emma', 'Peter', 'Jack', 'Louise', 'Amy'],
        'Age': [25, 28, 32, 23, 30, 27],
        'City': ['New York', 'London', 'Paris', 'Dallas', 'Lyon', 'Chicago'],
        'Country': ['USA', 'England', 'France', 'USA', 'France', 'USA']}

df = pd.DataFrame(data)

for group, group_df in df.groupby('Country'):
  print(group)
  print(group_df)

England
   Name  Age    City  Country
1  Emma   28  London  England
France
     Name  Age   City Country
2   Peter   32  Paris  France
4  Louise   30   Lyon  France
USA
   Name  Age      City Country
0  John   25  New York     USA
3  Jack   23    Dallas     USA
5   Amy   27   Chicago     USA

## 9. Merging

Similar to NumPy, pandas DataFrames can be concatenated using `pd.concat`:

```python
import pandas as pd

data_1 = {'Name': ['John', 'Emma', 'Peter'],
          'Age': [25, 28, 32],
          'City': ['New York', 'London', 'Paris'],
          'Country': ['USA', 'England', 'France']}

data_2 = {'Name': ['Jack', 'Louise', 'Amy'],
          'Age': [23, 30, 27],
          'City': ['Dallas', 'Lyon', 'Chicago'],
          'Country': ['USA', 'France', 'USA']}

df1 = pd.DataFrame(data_1)
df2 = pd.DataFrame(data_2)
df = pd.concat([df1, df2])
```
Output:
```
     Name  Age      City  Country
0    John   25  New York      USA
1    Emma   28    London  England
2   Peter   32     Paris   France
0    Jack   23    Dallas      USA
1  Louise   30      Lyon   France
2     Amy   27   Chicago      USA
```
As you can see, after concatenation the index `0 1 2 0 1 2` contains duplicated values. So, be careful with the index if you use `pd.concat`!

`df = df.reset_index(drop=True)` can be used to create the default index `0 1 2 3...`  (drop=True discards the old index).

In [ ]:
data_1 = {'Name': ['John', 'Emma', 'Peter'],
          'Age': [25, 28, 32],
          'City': ['New York', 'London', 'Paris'],
          'Country': ['USA', 'England', 'France']}

data_2 = {'Name': ['Jack', 'Louise', 'Amy'],
          'Age': [23, 30, 27],
          'City': ['Dallas', 'Lyon', 'Chicago'],
          'Country': ['USA', 'France', 'USA']}

df1 = pd.DataFrame(data_1)
df2 = pd.DataFrame(data_2)
df = pd.concat([df1, df2])
df = df.reset_index(drop=True)
print(df)

     Name  Age      City  Country
0    John   25  New York      USA
1    Emma   28    London  England
2   Peter   32     Paris   France
3    Jack   23    Dallas      USA
4  Louise   30      Lyon   France
5     Amy   27   Chicago      USA


## Exercise
Read the file `sample_data/california_housing_test.csv`.

1. Write a function which takes a DataFrame as input and returns a new DataFrame containing only the columns 'latitude', 'longitude', 'population', and 'median_house_value'.

2. Write a function which takes a DataFrame as input and plots histograms of the 'median_house_value' column.

3. Write a function which takes a DataFrame as input and returns the calculated mean and standard deviation of the 'population' column.

4. Read the file `sample_data/california_housing_train.csv` and `sample_data/california_housing_test.csv` and merge it into one DataFrame.

[5.] Write a function which takes a DataFrame as input and plots histograms of the 'population' and 'median_house_value' columns side by side.